

/* body {background-color: tomato;}
h1 {background-color:burlywood ; color:darkgreen ; text-align: center;}
h2 {background-color: coral; color: white; text-align: left;}
p {background-color: aqua; color: brown; text-align: justify;} */

h1 {
    color: crimson;
    font-size: 200%;
    font-family: "Courier New", Courier, monospace;
  }

  p {
    color: blue;
    font-size: small;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
      sans-serif;
      border: 5px solid green;
      padding: 5px;
      margin: 10px;
  }

  p.one {
    color: coral;
    font-size: medium;
    font-family: "Times New Roman", Times, serif;
  }